.cfitCard {
    height: 350px;
    border-radius: 5px;
    background-color: rgb(234, 234, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 8px 8px rgb(148, 67, 0);
    transition: .5s;
    padding: 0 !important;
    &:hover {
        box-shadow: 1px 1px 25px rgba(255, 202, 153, 0.568);
        background-color: rgb(255, 236, 212);
        transition: .5s;
    }
    &img {
        box-shadow: 5px 5px 15px rgb(0, 0, 0);
        transition: 1.2s ease;
        &:hover {
            width: 100%;
            transition: 1.2s ease;
        }
    }
}
